extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizar Datos

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') Id:
        input#color(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(tupe='text' name='modelo' value=bici.modelo)
        br
        label(for='latitud') Latitud:
        input#modelo(type='text' name='latitud' value=bici.ubicacion[0])
        br
        label(for='longitud') Longitud:
        input#modelo(type='text' name='longitud' value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value='OK')